<navbar></navbar>
<div class="row">
	<div class="col-md-8 col-sm-16 col-md-offset-2 whiteForm">
		<h2>Modificar información</h2>
            <form class="form-horizontal" ng-submit="modificarInfo()">
				<div class="form-group">
					<label class="col-sm-3">Apellidos</label>
					<div class="col-sm-5">
						<input type="text" ng-model="datosUsuario.apellidos" class="form-control" placeholder="Apellidos">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3">Población</label>
					<div class="col-sm-5">
						<input type="text" ng-model="datosUsuario.poblacion" class="form-control" placeholder="Población">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3">Fecha nacimiento</label>
					<div class="col-sm-5">
						<input type="text" ng-model="datosUsuario.fechaNacimiento" class="form-control" placeholder="Fecha nacimiento">
					</div>    
				</div>
				<div class="form-group">
					<div>
					    <input type="file" file-model="myFile"/>
					</div> 
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default btn-success">Modificar información</button>
					</div>
				</div>
			</form>
	</div>
</div>